body {
    background-image: url(https://wallpaperthehome.com/18949-superlarge_default/mk1138-magnolia-home-artful-prints-and-patterns-wallpaper-willow.jpg);
    background-repeat: repeat-y;
    background-position: top right;
background-attachment: scroll;
    background-color:#faf7f0;
}
P{
    color:#b0d0cd
}
h1{
    color:#b0d0cd
}
a{
    color:#fc8199
}
em{
    color:#76c8f5
}
